
**/.idea/
**/.egg-info/
**/__pycache__/
**/.catkin_workspace
**/.vscode
**/*.egg-info/

build/
devel/
src/CMakeLists.txt

src/stem_unveiling/assets/vine_*.urdf
src/stem_unveiling/logs/models
src/stem_unveiling/logs/unveil_demo_dataset/train
src/stem_unveiling/logs/unveil_demo_dataset/dev
src/stem_unveiling/logs/unveil_demo_dataset/test
src/stem_unveiling/logs/misc

src/stem_unveiling/logs/unveil_demo_dataset_sim/train
src/stem_unveiling/logs/unveil_demo_dataset_sim/dev
src/stem_unveiling/logs/unveil_demo_dataset_sim/test
